{% extends 'app/base.html' %}
{% load static %}
{% block title %}Office Sofa{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="#" class="list-group-item
         list-group-item-action" aria-current="true" ><h3 class="fw-bold">Apply Filters from Below:</h3></a>
        <a href="{% url 'officesofa' %}" class="list-group-item
         list-group-item-action" aria-current="true">All</a>
        
         <a href="{% url 'officesofadata' 'below' %}" class="list-group-item
         list-group-item-action" aria-current="true">Office Sofa below 500</a>
         <a href="{% url 'officesofadata' 'above' %}" class="list-group-item
         list-group-item-action" aria-current="true">Office Sofa above 500</a>
    </div>
  </div>
  <div class="col-sm-8">
      <div class="row">
          {% for product in officesofa %}
           <div class="col-sm-4 text-center mb-4">
               <a href="{% url 'product-detail' product.id %}" class="btn">
                   <div class="item">
                       <img src="{{product.product_image.url}}" alt="" height="200" width="250" class="">
                       <div class="fw-bold">{{product.description}}</div>
                       <div class="fw-bold">RS.{{product.discounted_price}}</div>
                       <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                   </div>
                </a>
            </div>
            {% endfor %}
        </div>

    
  </div>
 </div>
</div>
{% endblock main-content %}